// reset ng-virtual-list-item styles
.ngvl-item__container {
    background-color: unset;
}

.vl-section {
    padding: 0 20px 20px;
    margin-bottom: 8px;

    &>h1 {
        background: -webkit-linear-gradient(180deg, #2c9ab3, #25113b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    &>h2 {
        background: -webkit-linear-gradient(180deg, #2c9ab3, #25113b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &.block {
        padding: 20px 20px 4px;
    }
}

.list {
    border-radius: 3px;
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.075);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &__container {
        height: 100%;
        width: 100%;
        padding: 0 12px;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;

        &>* {
            height: auto;
        }
    }

    &__group-container {
        height: 100%;
        width: 100%;
        padding: 0 12px;
        background-color: rgb(230, 234, 238);
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        &>* {
            height: auto;
        }
    }

    &__h-container {
        cursor: pointer;
        height: 100%;
        padding: 0 8px;
        background-color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgb(241, 241, 241);
        }

        &>* {
            height: auto;
        }
    }

    &__h-group-container {
        height: 100%;
        padding: 0 8px;
        background-color: rgb(230, 234, 238);
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        &>* {
            height: auto;
        }
    }

    &.vertical {
        max-height: unset;
        height: 240px;
        width: 640px;
    }

    &.horizontal {
        max-width: unset;
        height: 80px;
        width: 640px;
    }
}