<div class="vl-section">
  <h1>v 0.2.5</h1>
</div>

<div class="vl-section">
  <h2>Simple virtual list</h2>
  <ng-virtual-list class="list simple" [items]="items" [itemRenderer]="itemRenderer"
    [itemSize]="40"></ng-virtual-list>
</div>

<ng-template #itemRenderer let-data="data">
  @if (data) {
  <div class="list__container">
    <p>{{data.name}}</p>
  </div>
  }
</ng-template>

<div class="vl-section">
  <h2>Virtual group list</h2>
  <ng-virtual-list class="list simple" [items]="groupItems" [itemRenderer]="groupItemRenderer"
    [stickyMap]="groupItemsStickyMap" [itemSize]="40" [snap]="false"></ng-virtual-list>
</div>

<div class="vl-section">
  <h2>Virtual group list (with snapping)</h2>
  <ng-virtual-list class="list simple" [items]="groupItems" [itemRenderer]="groupItemRenderer"
    [stickyMap]="groupItemsStickyMap" [itemSize]="40" [snap]="true"></ng-virtual-list>
</div>

<div class="vl-section">
  <h2>Horizontal list</h2>
  <ng-virtual-list class="list simple" direction="hotizontal" [items]="items" [itemRenderer]="hotizontalItemRenderer"
    [stickyMap]="groupItemsStickyMap" [itemSize]="40" [snap]="true"></ng-virtual-list>
</div>

<ng-template #groupItemRenderer let-data="data">
  @if (data) {
    @switch (data.type) {
      @case ("group-header") {
      <div class="list__group-container">
        <p>{{data.name}}</p>
      </div>
      }
      @default {
      <div class="list__container">
        <p>{{data.name}}</p>
      </div>
      }
    }
  }
</ng-template>

<ng-template #hotizontalItemRenderer let-data="data">
  @if (data) {
  <div class="hlist__container">
    <span>{{data.name}}</span>
  </div>
  }
</ng-template>